[Desktop Entry]
Name=Vwish
Comment=Ultra-high performance HDR media player
Exec=vwish %U
Icon=vwish
Terminal=false
Type=Application
Categories=AudioVideo;Player;Video;Audio;
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;application/x-mpegurl;application/dash+xml;
StartupWMClass=com.vecvel.vwish
Keywords=Video;Audio;Player;HDR;Streaming;HLS;DASH;MKV;MP4;
